@charset "UTF-8";
@use "../variables" as var;

p {
  font-size: 11px;
}

// Big smartphones
@media screen and (min-width: 500px) {
}

// Tablet portrait
@media screen and (min-width: 800px) {
  p {
    font-size: 13px;
  }
}

// Tablet landscape
@media screen and (min-width: 1000px) {
}

// Small ass screen
@media screen and (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}

// Laptop screen
@media screen and (min-width: 1400px) {
}

// Standard screen
@media screen and (min-width: 1600px) {
  p {
    font-size: 18px;
  }
}

// UHD screen
@media screen and (min-width: 2000px) {
}

// 4k screen
@media screen and (min-width: 3600px) {
}
