@charset "UTF-8";
// =====Black settings=====
//Variables
$main-black: #25282a;
$charcoal-black: #36454f;
$slate-grey: #3d4849;

//Global
$bg-black: $charcoal-black;
$text-black: $main-black;

// =====White settings=====
//Variables
$main-white: #ffffff;
$smokey-white: #f5f5f5;
$parchment-white: #d1cab5;

//Global
$bg-white: $smokey-white;
$text-white: $main-white;

// =====Grey settings=====
// =====Color settings=====
